.git
.github
docs
deploy

**/.DS_Store
**/Thumbs.db

frontend/node_modules
frontend/dist
frontend/.vite

backend/config.yaml
deploy/config.yaml
deploy/.env

deploy/bin
deploy/frontend-dist

*.log
*.tmp
